.item {
	display: flex;
	align-items: center;

	width: 320px;
	padding: 8px;
	gap: 12px;

	background-color: var(--color-card);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
		0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border: var(--line-border);
}

.online,
.notOnline {
	width: 20px;
	height: 20px;

	border-radius: 50%;
}

.online {
	background-color: Green;
}

.notOnline {
	background-color: red;
}

.avatar {
	width: 48px;
	height: 48px;
	padding: 12px;

	background-color: var(--color-bgr-img);
	border-radius: 16px;
}

.name {
	font-size: 24px;
	list-style: 1.17;
	font-weight: bold;
}