.item {
	width: 88px;
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 8px 0;
	background-color: var(--color-bgr-item);
	border: var(--line-border);
}

.label {
	padding-bottom: 4px;

	font-size: 20px;
	line-height: 1.15;
	/* color: var(--color-card); */
}

.percentage {
	font-size: 24px;
	line-height: 1.13;
	font-weight: bold;
	/* color: var(--color-card); */
}